h1 {
    color: white;
    padding-top: 500px;
}

nav {
    overflow: hidden;
    background-color: white;
    position: absolute;
    width: 100%;
}

.topContainer a{
    float: right;
    color:#333;
    text-align: center;
    margin-right: 1.5%;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topContainer a:hover {
    background-color:whitesmoke;
    color: black;
}

.cardContainer {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 20%;
    margin: 10px;
    text-align: center;
}

.innerCard:hover{
    color: rgb(17, 17, 181);
}

.innerCard {
    padding: 20px 50px;
}

.bigContainer {
    display: flex;
    justify-content: center;
}

.text {
    padding: 60px 40px;
}

.center {
    text-align: center;
}

.bgImg {
    background-image: url(images/image.jpg); 
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Ryan css changes */
.loginContainer {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 60%;
    margin: 10px;
    text-align: left;
}

.loginInnerCard {
    padding: 20px 50px;
}

.h2 {
    padding: 20px 20px;
}