@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,700');

@font-face {
    font-family: 'FreightText';
    src: url('../2018/fonts/FreightTextMedium.otf') format('opentype');
}
@font-face {
    font-family: 'FreightSans';
    src: url('../2018/fonts/FreightSansMedium.otf') format('opentype'); 
}
@font-face {
    font-family: 'Georgia';
    src: url('../2018/fonts/georgia.ttf') format('truetype'); 
}
@font-face {
    font-family: 'Verdana';
    src: url('../2018/fonts/verdana.ttf') format('truetype');
}

body { font-family: 'Verdana', sans-serif; background-color:#052534; }
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { font-family: 'Georgia', sans-serif; }

.siteBody { max-width:1430px;margin:0 auto; padding: 55px 500px 75px; min-height: 550px; }
.content-width { max-width:1430px;margin:0 auto;position:relative; }
.sitePage { background-color:#2244ee !important; }

/**** css for the whole portal ****/
.btn-primary { background-color:#052534; }
.btn-primary:hover { background-color:#2547fe; }
.bg-primary { background-color: #2547fe; }
a.bg-primary:hover { background-color: #2547fe; }
a:not(.btn), a.actionLink, .tabHeader .thLinks .helpLink, .ui-tabs .ui-tabs-nav li a, .ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a { color:#2547fe; }
a.actionLink, a.actionLink:visited { color: #2547fe !important; }
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover { background-color: #2547fe; }
.table thead a { color: #222; }
.public .siteBodyContainer { background-image:url('background.png'); background-size: length;background-repeat: no-repeat; margin:0; }
.login-title {}
.public .btn-primary {background-color:#0000f4; text-shadow: none; border-width:0;border-radius: 0;}
.public .btn-primary:hover, .public .btn-primary:focus { background-color: #000089; text-shadow: none; }
.signup-link { padding-left:15px; }

/***********Header***********/
.top-links, .userinfo-container { display:inline-block; padding-left:20px; }
.site-page-top-row-content { min-height: 0px; }
.right-aligned-items { position:absolute;right:0;top:10px; }
.site-page-top-row .userinfo-container a, .site-page-top-row a.appLink { color:#000; }
.site-page-navigation-container { background-color:#052534; }

/***********Footer***********/
.footer-wrap .footerTabs a { font-size: 14px;font-weight: 300; }
.footer-wrap .footerTabs a,.footer-wrap .footerLinks-actions a, .poweredby, .poweredby a { color: #fff; line-height: 2; }
.footer-wrap .footerLinks-actions { margin-top: 37px;margin-left:315px }
.footer-wrap .footerLinks-actions a, .poweredby, .poweredby a { font-size: 12px;margin-left:20px }
.footer-wrap .about { color:white;margin-top: 0px;font-size: 12px;margin-left:-95px }
.footer-wrap { background:#052534;padding-top:38px;padding-bottom:35px;padding-right:80px }
.site-footer { color:white; }
.footer-wrap .footerTabs a:hover, .footer-wrap .footerLinks-actions a:hover, .poweredby, .poweredby a:hover { color:#deff5b; }
